@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-light: rgb(150 224 114);
  --color-xLight: rgb(232 252 207);
  --color-green: rgb(62 137 20);
  --color-mid: rgb(61 163 93);

  /* --color-primary-900: rgb(19 70 17);
  --color-primary-800: rgb(25 89 22);
  --color-primary-700: rgb(27 100 24);
  --color-primary-600: rgb(32 120 29);
  --color-primary-500: rgb(37 141 33);
  --color-primary-400: rgb(53 182 48);
  --color-primary-300: rgb(57 227 51 / 0.4);
  --color-primary-200: rgb(96 255 90);
  --color-primary-100: rgb(174 255 171); */
  --color-primary-900: #0A2A4D; /* very dark navy */
  --color-primary-800: #0D3B6F; /* dark blue */
  --color-primary-700: #115499; /* deep blue */
  --color-primary-600: #1472CC; /* medium-dark blue */
  --color-primary-500: #1786E6; /* bright blue */
  --color-primary-400: #1896FD; /* your chosen blue */
  --color-primary-300: #5AB3FF; /* lighter blue */
  --color-primary-200: #A6D7FF; /* soft light blue */
  --color-primary-100: #E0F2FF; /* very light background blue */

  --color-text-900: rgb(5 5 5);
  --color-text-800: rgb(49 48 48);
  --color-text-700: rgb(62 60 60);
  --color-text-600: rgb(84 82 82);
  --color-text-500: rgb(134 129 129);
  --color-text-400: rgb(183 173 173);
  --color-text-300: rgb(210 200 200);
  --color-text-200: rgb(251 251 251);
  --color-text-100: rgb(253 248 248);

  --color-red-900: rgb(182 46 49);
  --color-red-800: rgb(233 60 63);
  --color-red-700: rgb(255 120 122);

  --color-blue-900: rgb(46 135 182);
  --color-blue-800: rgb(68 175 233);
  --color-blue-700: rgb(114 200 247);

  --color-gold-900: rgb(227 163 0);
  --color-gold-800: rgb(255 199 57);
  --color-gold-700: rgb(255 216 118);

  --color-black: rgb(0 0 0)
  --color-bg-white: rgb(226 226 226 / 0.4);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-text-100);
  color: var(--color-text-900);
  font-family: Arial, Helvetica, sans-serif;
  ;
}

.btn {
display: inline-flex;
height: 32px;
padding: 0 16px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 4px;
background: var(--color-primary-400);
color: #ffffff;
font-weight: 600;
transition: 0.3s;
cursor: pointer;
  &:hover {
    background: var(--color-primary-600);  
  }
}

button {
  cursor: pointer;
}

input , select, textarea {
  border-color: var(--color-primary-600);
}
input:focus ,select:focus, textarea:focus {
  outline: 2px solid var(--color-primary-400);
}

strong {
  color: var(--color-text-600) !important;
}